<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partial/header') %>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/preloader.css" />
    <link rel="stylesheet" href="css/404.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <title>Error 404 - Page Not Found</title>
  </head>
  <body>
    <!--Pre loader-->
    <div class="lds-ring" id="preloader"></div>

    <script src="javascript/preloader.js"></script>
  </body>
  <%- include('./partial/scriptFooter') %>
</html>
